<div id="newcontainer">
<h1>Create a new team entry!!!!</h1>
<br />

<%= form_for @team do |team|%>
  <%= team.label :name, "Name" %>
  <%= team.text_field :name %>
<br />

  <%= team.label :qb, "Quarterback" %>
  <%= team.text_field :qb %>
<br />

  <%= team.label :coach, "Head Coach" %>
  <%= team.text_field :coach %>
<br />

  <%= team.submit %>

<% end %>
</div>