<h1>Create a new team entry!!!!</h1>

<p>
<%= form_for @team do |team|%>
  <%= team.label :name, "Name" %>
  <%= team.text_field :name %>
</p>

<p>
  <%= team.label :qb, "Quarterback" %>
  <%= team.text_field :qb %>
</p>

<p>
  <%= team.label :coach, "Head Coach" %>
  <%= team.text_field :coach %>
</p>

<p>
  <%= team.submit %>
</p>

<% end %>